###########################--------------------------------
## Airflow Configuration ##
###########################
DATABASE_URL=postgresql+psycopg2://airflow:airflow@postgres/bluecore
AIRFLOW_WWW_USER_USERNAME=airflow
AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_EXTERNAL_URL=http://localhost:8000/workflows/
AIRFLOW_INTERNAL_URL=http://airflow-apiserver:8080/workflows/
AIRFLOW_PROJ_DIR=.
AIRFLOW_CONN_BLUECORE_DB: 'postgresql+psycopg2://airflow:airflow@postgres:5432/bluecore'


######################-------------------------------------
## Keycloak Clients ##
######################
# Client 1: bluecore_api
API_KEYCLOAK_CLIENT_ID=bluecore_api
BLUECORE_URL=http://localhost:8000

# Client 2: airflow_client
AIRFLOW_KEYCLOAK_CLIENT_ID=bluecore_workflows
AIRFLOW_KEYCLOAK_CLIENT_SECRET=KIu8gWa8rtjlT0Zl7zkNzsObFZGJ2IsJ

############################-------------------------------
## Keycloak Configuration ##
############################
# Bluecore realm and keycloak path
KC_HOSTNAME_STRICT=false
KEYCLOAK_REALM=bluecore

# Master realm Admin credentials
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=gawk-synergy

# Keycloak database connection
KC_DB=postgres
KC_DB_URL_HOST=postgres
KC_DB_URL_PORT=5432
KC_DB_URL_DATABASE=keycloak
KC_DB_SCHEMA=public
KC_DB_USERNAME=airflow
KC_DB_PASSWORD=airflow

# Keycloak health check enabled
KC_HEALTH_ENABLED=true 

# Keycloak HTTP and proxy access settings
KC_PROXY_HEADERS=xforwarded
KC_HTTP_ENABLED=true
KC_HTTP_RELATIVE_PATH=/keycloak/
KC_HOSTNAME=http://localhost:8000/keycloak
KC_LOG_LEVEL=INFO
KEYCLOAK_INTERNAL_URL=http://keycloak:8080/keycloak/
KEYCLOAK_EXTERNAL_URL=http://localhost:8000/keycloak/
# KC_HOSTNAME=https://dev.bcld.info/keycloak 
